html {
    font-size: 1px;
}

body {
    margin: 0;
    padding: 0;
}

.contacts {
    /* background: linear-gradient(90deg, #202020, #100000); */
    /* padding: 100rem 0rem; */
    /* height: 100vh; */

}
.err-input::placeholder {
    color: #d63535;
}
.registr {
    margin-top: 30rem;
}

.contacts h2 {
    padding-top: 50rem;
    margin: 0;
    padding-bottom: 20rem;
    color: #ffffff;
    font-weight: 300;
    font-size: 35rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.block-contact {
    width: 50%;
    margin: 0 auto;
}

.info {
    padding-bottom: 20rem;
    font-size: 16rem;
    color: #909096;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    opacity: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.container-form {
    margin: 0 auto;
    width: 60%;
    /* +media(888)
        width: 40%;  */
}

@media (max-width: 888px) {
    .container-form {
        width: 40%;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}

.input,
.textarea {
    background-color: transparent;
    width: 100%;
    margin-bottom: 50rem;
    font-size: 15rem;
    line-height: 20rem;
    padding-bottom: 5rem;
    outline: 0;
    color: #000;
    border: none;
    border-bottom: 1rem solid #787A91;
    font-family: 'Roboto', sans-serif;
}


.plase_color::placeholder {
    color: #d63535;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
}


.textarea {
    resize: vertical;
    max-height: 150rem;
}


.btn-section {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}


.btn-form {
    align-items: center;
    display: inline-block;
    padding: 10rem 30rem;
    border-radius: 15rem;
    border: 1rem solid #787A91;
    background-color: #787A91;
    text-decoration: none;
    font-size: 18rem;
    letter-spacing: 1rem;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;

}

.btn-form:hover {
    filter: drop-shadow(0 0 4px rgba(204, 204, 223, 0.18));
    transform: scale(1.05);
}