.header-dash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.logo-dash h3{
    padding: 10rem;
    color: #000;
    /* background-color: #000; */
    font-size: 24rem;
    font-weight: bold;
}

.header-section-dash {
    width: 100%; 
    padding: 0 12px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-dash h3 {
    font-size: 24px;
    color: #000;
    font-weight: bold;
}


.top-dash {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #333;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 9px;
}

.hamburger span:nth-child(4) {
    top: 18px;
}

.hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

.hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

.nav-menu-dash {
    position: absolute;
    top: 60px;
    left: 0;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #000;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: translateX(-200px);
}

.nav-menu-dash.show {
    transform: translateX(0);
}

.top-menu-dash {
    flex-direction: column;
    list-style: none;
    padding-top: 50rem;
    /* margin: 20px 0; */
    /* padding: 0; */
    align-items: start;
    
}

.top-menu-dash li a {
    display: block;
    padding-bottom: 30rem;
    padding-left: 30rem;
    /* padding: 10px; */
    text-decoration: none;
    color: #fff;
    font-size: 24rem;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
    .nav-menu-dash {
        width: 100%;
        height: auto;
        transform: translateX(-100%);
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

    .nav-menu-dash.show {
        transform: translateX(0);
    }

    .top-menu-dash li a {
        color: #fff;
    }
}

section {
    padding: 100rem 0;
}


table {
    border-collapse: collapse;
    max-width: 1000rem;
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    padding: 8px;
    font-size: 15rem;
    color: #000;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.product-table {
    padding-top: 100rem;
    /* margin-top: 100rem; */
    border-collapse: collapse;
    width: 100%;
    /* padding-left: 300rem; */
    margin-left: 300rem;
}

.product-table thead {
    background-color: #f2f2f2;
}

.product-table th,
.product-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table tr:hover {
    background-color: #f5f5f5;
}

.product-table td img {
    max-width: 100px;
}

.wrapper-dash {
    width: 100%;
    /* margin: 0 auto; */
}